*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #0e0101;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 305px;
  width: 260px;
  background-color: white;
  border-radius: 30px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
 
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 15px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center{
  font-size: 17px;
  font-weight: 500;
  margin-top: 28px;
}

.center h3 span{
  font-size: 12px;
  font-weight: 400;
  color : #8b8b8b
}

.center h2{
  font-size: 20px;
  font-weight: 600;
}

.center .tag {
  display:flex;
  gap: 5px;
  margin: 10px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 100;
  padding: 4px 4px;
  border-radius: 3px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  padding: 10px;
  padding-top: 9px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}