*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #0d0d0d;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(24, 21, 21);
}

.card p{
      margin: 20px 0;
}

.card img {
  height: 140px;
  width: 140px;
  border-radius:50%;
  object-fit: cover;
}

.card button{
  padding: 10px 20px;
  background-color: white;
  color: rgb(252, 251, 251);
  border: none;
  border-radius: 5px;
}